{% extends 'base.html.twig' %}

{% block body %}
    <h1>Creer une sortie</h1>
    <div >
        {{ form_start(sortieForm) }}

        {{ form_widget(sortieForm) }}

        {{ form_end(sortieForm) }}
    </div>
    <div>
        <label for="ville">VILLE </label>

        <select name="ville" id="ville">
            {% for ville in villes %}

                <option value="{{ ville.nom }}">{{ ville.nom }}</option>
            {% endfor %}
        </select>

        {{ form_start(lieuform) }}

        {{ form_widget(lieuform) }}

        {{ form_end(lieuform) }}
    </div>
{% endblock %}

{% block title %}

{% endblock %}

